<div class="row">
  <div class="col-sm-5 col-md-4 col-lg-3 col-xl-3">
    <div class="movie-card">
      <h2>По жанру:</h2>
      <div class="list-group">
        <% @categories.each do|category| %>
          <%= link_to category.genre.capitalize, movies_path(category: category), class: "list" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-7 col-md-8 col-lg-9 col-xl-9">
    <% @movies.each do |movie| %>
     <div class="row movie-card">
      <div class="col-lg-4">

        <div>
          <%= image_tag("#{movie.image_link}", width: "100%")%>
          <%= render partial: 'movies/votes', :locals => {:movie => movie, :session => @session} %>
        </div>
      </div>
        <div class="col-lg-8"> 
          <div class="row">
            <div class="col-sm-10 col-md-10 col-lg-10 col-xl-10">
              <div class="movie_title index-title">
                <h2><%=link_to "#{movie.title_ru}", movie_path(movie), class:"title-link"%></h2>
                <h5><%= movie.title_en %></h5>
              </div>
            </div>
            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 bookmark-conteiner">

              <% if favorite_include_movie?(movie) %>
                <%= link_to "", line_item_path(movie), method: :delete, class: "fa fa-minus bookmark link-danger" %>
               <% else %>
                <%= link_to "", line_items_path(movie_id: movie), method: :post, class: "fa fa-plus bookmark link-succes" %>
               <% end %>
            </div>
          </div>
          <table class="movie-info">
            <tbody>
              <tr class="index-th-mh">
                <th scope="row">Страна:</th>
                <td><%= movie.country %></td>
              </tr>
              <tr>
                <th scope="row">Жанр:</th>
                <td><%= genre_link(movie) %></td>
              </tr>
              <% if movie.duration.present? %>
                <tr>
                  <th scope="row">Продолжительность:</th>
                  <td><%= movie.duration%> мин. / <%=Time.at(movie.duration.to_i*60).utc.strftime("%H:%M")%></td>
                </tr>
              <% end %>
              <tr>
                <th scope="row">Год:</th>
                <td><%= movie.year %></td>
              </tr>
            </tbody>
          </table>
          <p class="index_description"><%= movie.description %></p>
        </div>
      </div>
      <hr>
    <% end %>
    <div class="pagination-conteiner">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <%= paginate @movies %>
        </div>
      </div>
    </div>
  </div>
</div>
