<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="movie_title show-title">
      <h1><%= @movie.title_ru %></h1>
      <h5><%= @movie.title_en %></h5>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4">
      <div class="show-poster">
        <%= image_tag("#{@movie.image_link}",width: "100%", alt: "#{@movie.title_en}")%>
      </div>
    </div>
  <div class="col-sm-12 col-md-12 col-lg-7 col-xl-8">
    <table class="movie-info">
      <tbody>
        <tr>
          <th scope="row">Страна:</th>
          <td><%= @movie.country %></td>
        </tr>
        <tr>
          <th scope="row">Жанр:</th>
          <td><%= genre_link(@movie) %></td>
        </tr>
        <tr>
          <th scope="row">Год:</th>
          <td><%= @movie.year %></td>
        </tr>
        <% unless @movie.producer.nil? %>
          <tr>
            <th scope="row">Режиссёр:</th>
            <td><%= @movie.producer %></td>
          </tr>
        <% end %>
        <% unless @movie.acter.empty? %>
          <tr>
            <th scope="row">В главной роли:</th>
            <td><%= @movie.acter %></td>
          </tr>
        <% end %>
        <% if @movie.duration.present? %>
          <tr>
            <th scope="row">Продолжительность:</th>
            <td class="td2"><%=@movie.duration%> мин. / <%=Time.at(@movie.duration.to_i*60).utc.strftime("%H:%M")%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <hr>
    <p><%= @movie.description %></p>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-5 col-xl-4">
    <h3>Советуем посмотреть:</h3>
    <% @recommendation.each do |movie| %>
    <ul class="recommend-ul">
      <li class=recommend-li>
      <%= link_to "#{movie.title_ru} (#{movie.year} г.)", movie_path(movie) %>
    </li>
    </ul>
    <% end %>

  </div>
  <div class="col-sm-12 col-md-12 col-lg-7 col-xl-8">
    <div class="bkg-videoplayer">
      <iframe src="https://63.tvmovies.in/PwUgndLBDUPr?kp_id=<%=@movie.global_id%>" width="640" height="480" frameborder="0" allowfullscreen class="videoplayer"></iframe>
    </div>
    <div class="review">
      <h2>Отзывы:</h2>
      <% @movie.reviews.each do |review| %>
        <h5 class="review-user"><%= review.user.username %>:</h5>
        <p class="review-body"><%= review.body %></p>
      <% end %>
      <% if user_signed_in? %>
        <%= form_with model: [@movie, @review] do |f|%>

        <% if @review.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@review.errors.count, "error") %> prohibited this movie from being saved:</h2>

            <ul>
            <% @review.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


          <div class="form-group">
            <%= f.text_area :body, placeholder: "Оставить комментарий", autocomplete: 'off', class: "form-control"%>
          </div>
          <div class="form-group">
            <%= f.submit "Отправить" %>
          </div>
        <% end %>
        <% else %>
          <p><%= link_to "Войдите", new_user_session_path %>, чтобы оставить комментарий. </p>
      <% end %>
    </div>
  </div>
</div>