<!DOCTYPE html>
<html>
  <head>
    <title>Ddm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  </head>

  <body>
     <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark rounded">
          <%=link_to "DDM", root_path, class:"navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Закладки (#{@current_favorite.line_items.count})", favorite_path(@current_favorite), class:"nav-link" %>
              </li>
            </ul>
            <%= render 'search/form' %>
          </div>
        </nav>
      </div>
    </header>
    <div class="container custom-container">
      <%= yield %>
    </div>
  </body>
</html>
