<!DOCTYPE html>
<html>
  <head>
    <title>Ddm</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
  </head>

  <body>
     <header>
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark rounded">
          <%=link_to "DDM", root_path, class:"navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample09">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Закладки (#{@favorite.line_items.count})", favorite_path(@favorite), class:"nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Чат киноманов", channels_path, class:"nav-link" %>
              </li>
            </ul>
            <%= render 'search/form' %>
             <% if user_signed_in? %>
                <span class="navbar-brand navbar-username"><%= current_user.username%></span>
                  <span class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu customdrop customnav">
                          <li><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %></li>
                          <li><%= link_to 'Изменить профиль', edit_user_registration_path %> </li>
                          <% if current_user.admin %>
                            <li><%= link_to 'Панель админа', admin_root_path %>
                          <% end %>
                        </ul>
                    </span>
                <% else %>
                    <span class="dropdown customnav navbar-username">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Вход <b class="caret"></b></a>
                        <ul class="dropdown-menu customdrop customnav">
                            <li><%= link_to 'Войти', new_user_session_path %> </li>
                            <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
                        </ul>
                    </span>
                <% end %>
          </div>
        </nav>
      </div>
    </header>
    <div class="container custom-container">
      <%= render 'layouts/flash' %>
      <%= yield %>
    </div>
  </body>
</html>
